In [4]:
# Salvatore Potestia, posa1012 , 72860
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
print("numpy version", np.__version__)
print("pandas version", pd.__version__)
print("sklearn version", sklearn.__version__)
print("seaborn version", sns.__version__)
print("matplotlib version", matplotlib.__version__)

numpy version 1.19.2
pandas version 1.2.3
sklearn version 0.24.1
seaborn version 0.11.1
matplotlib version 3.3.4

In [5]:
movie=pd.read_csv("movies_utf8.csv",encoding="utf8")

movie

In [6]:
movie

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6815,0.0,Fox Searchlight Pictures,UK,Mandie Fletcher,Comedy,4750497.0,Absolutely Fabulous: The Movie,R,2016-07-22,91,5.4,Jennifer Saunders,9161,Jennifer Saunders,2016
6816,0.0,Siempre Viva Productions,USA,Paul Duddridge,Drama,28368.0,Mothers and Daughters,PG-13,2016-05-06,90,4.9,Selma Blair,1959,Paige Cameron,2016
6817,3500000.0,Warner Bros. Animation,USA,Sam Liu,Animation,3775000.0,Batman: The Killing Joke,R,2016-07-25,76,6.5,Kevin Conroy,36333,Brian Azzarello,2016
6818,0.0,Borderline Presents,USA,Nicolas Pesce,Drama,25981.0,The Eyes of My Mother,R,2016-12-02,76,6.2,Kika Magalhães,6947,Nicolas Pesce,2016
6819,0.0,Les Productions du Trésor,France,Nicole Garcia,Drama,37757.0,From the Land of the Moon,R,2017-07-28,120,6.7,Marion Cotillard,2411,Milena Agus,2016

In [7]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   budget    6820 non-null   float64
 1   company   6820 non-null   object
 2   country   6820 non-null   object
 3   director  6820 non-null   object
 4   genre     6820 non-null   object
 5   gross     6820 non-null   float64
 6   name      6820 non-null   object
 7   rating    6820 non-null   object
 8   released  6820 non-null   object
 9   runtime   6820 non-null   int64
 10  score     6820 non-null   float64
 11  star      6820 non-null   object
 12  votes     6820 non-null   int64
 13  writer    6820 non-null   object
 14  year      6820 non-null   int64
dtypes: float64(3), int64(3), object(9)
memory usage: 799.3+ KB

In [8]:
#kein NAN
movie.describe()

,budget,gross,runtime,score,votes,year
count,6.820000e+03,6.820000e+03,6820.00000,6820.000000,6.820000e+03,6820.000000
mean,2.458113e+07,3.349783e+07,106.55132,6.374897,7.121952e+04,2001.000293
std,3.702254e+07,5.819760e+07,18.02818,1.003142,1.305176e+05,8.944501
min,0.000000e+00,7.000000e+01,50.00000,1.500000,2.700000e+01,1986.000000
25%,0.000000e+00,1.515839e+06,95.00000,5.800000,7.665250e+03,1993.000000
50%,1.100000e+07,1.213568e+07,102.00000,6.400000,2.589250e+04,2001.000000
75%,3.200000e+07,4.006534e+07,115.00000,7.100000,7.581225e+04,2009.000000
max,3.000000e+08,9.366622e+08,366.00000,9.300000,1.861666e+06,2016.000000

In [9]:
movie.corr()

           budget     gross   runtime     score     votes      year
budget   1.000000  0.712196  0.268226  0.042145  0.503924  0.291009
gross    0.712196  1.000000  0.224579  0.165693  0.662457  0.191548
runtime  0.268226  0.224579  1.000000  0.395343  0.317399  0.087639
score    0.042145  0.165693  0.395343  1.000000  0.393607  0.105276
votes    0.503924  0.662457  0.317399  0.393607  1.000000  0.229304
year     0.291009  0.191548  0.087639  0.105276  0.229304  1.000000

In [10]:
#year und budegt haben kein großen Einfluss auf den score wesewegen sie wegfallen siehe corr()
x = movie[[ "company","country","director","genre","gross","rating","released","runtime","star","votes","writer"]]
y=movie["score"]

In [11]:
x

,company,country,director,genre,gross,rating,released,runtime,star,votes,writer
0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,R,1986-08-22,89,Wil Wheaton,299174,Stephen King
1,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,PG-13,1986-06-11,103,Matthew Broderick,264740,John Hughes
2,Paramount Pictures,USA,Tony Scott,Action,179800601.0,PG,1986-05-16,110,Tom Cruise,236909,Jim Cash
3,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,R,1986-07-18,137,Sigourney Weaver,540152,James Cameron
4,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,PG,1986-08-01,90,Joey Cramer,36636,Mark H. Baker
...,...,...,...,...,...,...,...,...,...,...,...
6815,Fox Searchlight Pictures,UK,Mandie Fletcher,Comedy,4750497.0,R,2016-07-22,91,Jennifer Saunders,9161,Jennifer Saunders
6816,Siempre Viva Productions,USA,Paul Duddridge,Drama,28368.0,PG-13,2016-05-06,90,Selma Blair,1959,Paige Cameron
6817,Warner Bros. Animation,USA,Sam Liu,Animation,3775000.0,R,2016-07-25,76,Kevin Conroy,36333,Brian Azzarello
6818,Borderline Presents,USA,Nicolas Pesce,Drama,25981.0,R,2016-12-02,76,Kika Magalhães,6947,Nicolas Pesce
6819,Les Productions du Trésor,France,Nicole Garcia,Drama,37757.0,R,2017-07-28,120,Marion Cotillard,2411,Milena Agus

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    x,
    y,
    train_size = 0.8,
    random_state = 0)

In [13]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder(sparse=False)

one.fit(x_train[[ "company","country","director","genre","rating","star","writer"]])
xone = one.transform(x_train[[ "company","country","director","genre","rating","star","writer"]])

xone.shape
#begründung warum features

(5456, 10108)

In [14]:
xtwo=x_train[["gross","runtime","votes"]]

In [15]:
from sklearn.preprocessing import StandardScaler 
# scaler einzeln fitten und transformieren -> Später scaler für Testdaten verwenden
scaler = StandardScaler().fit(xtwo)
x_two_scaled = scaler.transform(xtwo)

In [16]:
xone=pd.DataFrame(xone)
x_two_scaled=pd.DataFrame(x_two_scaled)

In [17]:
x_train=pd.concat([xone,x_two_scaled],axis=1)
x_train.shape

(5456, 10111)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier as RF

from prettytable import PrettyTable

from sklearn import metrics
from sklearn.metrics import plot_confusion_matrix, accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score



from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn import linear_model #for lasso

In [22]:
table = PrettyTable()
table.field_names = ["Model","Accuracy", "Mean Squared Error", "R² score","Mean Absolute Error"]
models = [
    LinearRegression(),
    LogisticRegression(),
    Ridge(),
    linear_model.Lasso()
]


for model in models:
    model.fit(x_train, y_train) 
    preds = model.predict(x_test)
    accuracy = accuracy_score(y_test, preds)
    mse = mean_squared_error(y_test, preds)
    r = r2_score(y_test, preds)
    mae = mean_absolute_error(y_test, preds)
    
    table.add_row([type(model).__name__, format(accuracy, '.3f'),format(mse, '.3f'),format(r, '.3f'),format(mae, '.3f')])
    
print(table)

ValueError: could not convert string to float: 'Black River Productions'

In [15]:
from sklearn.neural_network import MLPRegressor

mlp_5 = MLPRegressor(hidden_layer_sizes = (5), 
                   solver = "sgd", 
                   activation = "relu", 
                  max_iter = 100, # max_iter um die Anzahl der Berechnungen zu erhöhen 
                   random_state = 0, 
                 verbose=False)

In [16]:
from sklearn.model_selection import cross_val_score
cross_val_mlp_5 = cross_val_score(mlp_5, x_train, y_train, cv = 3)
cross_val_mlp_5

C:\Program Files\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Program Files\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Program Files\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

array([0.39857347, 0.41260179, 0.44133229])

In [17]:
print("Mean Score", np.mean(cross_val_mlp_5))

Mean Score 0.4175025205232898

In [18]:
#from sklearn.neighbors import KNeighborsClassifier
#knn10 = KNeighborsClassifier(n_neighbors = 10) 
#knn10.fit(x_train_scaled, y_train)

In [ ]:
from sklearn.model_selection import GridSearchCV
mlp = MLPRegressor(random_state=0, max_iter=200, activation ="relu",solver = "sgd")
parameters = {'learning_rate_init': [0.0001, 0.001, 0.01], 'hidden_layer_sizes':[ (5), (10), (5,3)]}

grid = GridSearchCV(mlp, parameters, cv = 3, n_jobs=-1) # mit 5f Kreuzvalidierung
grid.fit(x_train, y_train)
# das beste Modell aus der Gittersuche
#print("Parameter:", grid.best_params_)
# Evaluiere das beste Modell aus der Gittersuche
#print("Score Trainingsdaten: ", grid.best_estimator_.score(x_train, y_train))

In [ ]:
#print("Parameter:", grid.best_params_)
#print("Score Trainingsdaten: ", grid.best_estimator_.score(x_train, y_train))

In [ ]:
xtwo_test=x_test[["gross","runtime","votes"]]
xtwo_scaled = scaler.transform(xtwo_test)

In [ ]:
one.fit(x_test[[ "company","country","director","genre","rating","star","writer"]])
xone_test = one.transform(x_test[[ "company","country","director","genre","rating","star","writer"]])

In [ ]:
xone_test=pd.DataFrame(xone_test)
x_two_scaled=pd.DataFrame(xtwo_test)

In [ ]:
x_test=pd.concat([xone_test,xtwo_test],axis=1)

In [ ]:
#print("Score Testdaten: ", grid.best_estimator_.score(x_test, y_test))