In [55]:


# Do the imports
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from prettytable import PrettyTable

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder


from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier as DT
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier as RF

from sklearn import metrics
from sklearn.metrics import plot_confusion_matrix, accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

%matplotlib inline
%config InlineBackend.figure_format = 'retina'
print('Setup Complete')

Setup Complete

In [2]:
df=pd.read_csv("movies_utf8.csv",encoding="utf8")

In [3]:
df

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6815,0.0,Fox Searchlight Pictures,UK,Mandie Fletcher,Comedy,4750497.0,Absolutely Fabulous: The Movie,R,2016-07-22,91,5.4,Jennifer Saunders,9161,Jennifer Saunders,2016
6816,0.0,Siempre Viva Productions,USA,Paul Duddridge,Drama,28368.0,Mothers and Daughters,PG-13,2016-05-06,90,4.9,Selma Blair,1959,Paige Cameron,2016
6817,3500000.0,Warner Bros. Animation,USA,Sam Liu,Animation,3775000.0,Batman: The Killing Joke,R,2016-07-25,76,6.5,Kevin Conroy,36333,Brian Azzarello,2016
6818,0.0,Borderline Presents,USA,Nicolas Pesce,Drama,25981.0,The Eyes of My Mother,R,2016-12-02,76,6.2,Kika Magalhães,6947,Nicolas Pesce,2016
6819,0.0,Les Productions du Trésor,France,Nicole Garcia,Drama,37757.0,From the Land of the Moon,R,2017-07-28,120,6.7,Marion Cotillard,2411,Milena Agus,2016

In [27]:
x = df.drop(columns=["budget", 'released','score']) # X DATA (WILL BE TRAIN+VALID DATA)
y = df["score"] #

In [35]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(
    x, y,
    test_size=0.2,
    random_state=42,
)

In [ ]:
df.isnull().sum()

In [36]:
cat_x_train  = x_train[ ["company","country","director","genre","rating","star","writer"]]       # x.select_dtypes(include=[object]).columns.values.tolist()
num_x_train  = x_train[['gross', 'runtime', 'votes', 'year']] # x.select_dtypes(exclude=[object]).columns.values.tolist()

cat_x_test  = x_test[ ["company","country","director","genre","rating","star","writer"]]       # x.select_dtypes(include=[object]).columns.values.tolist()
num_x_test  = x_test[['gross', 'runtime', 'votes', 'year']] # x.select_dtypes(exclude=[object]).columns.values.tolist()

print(num_x_train)

            gross  runtime   votes  year
3759   51970690.0      121  225226  2003
1782    5887457.0      127  149166  1994
5013   11802056.0       90   33540  2008
5413     802524.0      141   54145  2010
3066     140426.0       92    1858  1999
...           ...      ...     ...   ...
3772   66465204.0      110  148712  2003
5191  137855863.0       96   80819  2009
5226      15388.0      110   16398  2009
5390   67061228.0      110  103868  2010
860     1770082.0       85     849  1989

[5456 rows x 4 columns]

In [69]:
scaler = StandardScaler()  

#X_train = StandardScaler.fit.transform(X_train)

a = scaler.fit(num_x_train)
num_x_train = a.transform(num_x_train)
#The fit method is calculating the mean and variance of each of the features present in our data.
#The transform method is transforming all the features using the respective mean and variance.

#xtest = scaler.fit(Xtest) 
num_x_test = scaler.transform(num_x_test)

num_x_train.shape

(5456, 4)

In [66]:
drop_enc = OneHotEncoder(drop='first').fit(cat_x_train)
drop_enc.categories_
oh_x_train = drop_enc.transform(cat_x_train[ ["company","country","director","genre","rating","star","writer"]])

drop_enc = OneHotEncoder(drop='first').fit(cat_x_test)
drop_enc.categories_
oh_x_test = drop_enc.transform(cat_x_test[ ["company","country","director","genre","rating","star","writer"]])

oh_x_train.shape

(5456, 10140)

In [63]:
num_x_train = pd.DataFrame(num_x_train)
num_x_test = pd.DataFrame(num_x_test)

oh_x_train = pd.DataFrame(oh_x_train)
oh_x_test = pd.DataFrame(oh_x_test)

X_train=pd.concat([num_x_train,oh_x_train],axis=1)
X_test=pd.concat([num_x_test,oh_x_test],axis=1)

In [64]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn import linear_model #for lasso

In [65]:
X_train

,0,1,2,3,0
0,0.325980,0.783035,1.168493,0.214757,"(0, 1152)\t1.0\n (0, 1899)\t1.0\n (0, 3281..."
1,-0.479131,1.111341,0.590650,-0.792831,"(0, 1732)\t1.0\n (0, 1899)\t1.0\n (0, 4189..."
2,-0.375798,-0.913210,-0.287784,0.774527,"(0, 1752)\t1.0\n (0, 1899)\t1.0\n (0, 2160..."
3,-0.567969,1.877387,-0.131244,0.998435,"(0, 1607)\t1.0\n (0, 1878)\t1.0\n (0, 4150..."
4,-0.579536,-0.803775,-0.528479,-0.233060,"(0, 984)\t1.0\n (0, 1899)\t1.0\n (0, 2025)..."
...,...,...,...,...,...
5451,0.579211,0.181142,0.587201,0.214757,"(0, 140)\t1.0\n (0, 1899)\t1.0\n (0, 4087)..."
5452,1.826463,-0.584905,0.071404,0.886481,"(0, 1799)\t1.0\n (0, 1899)\t1.0\n (0, 3893..."
5453,-0.581721,0.181142,-0.418016,0.886481,"(0, 182)\t1.0\n (0, 1899)\t1.0\n (0, 3235)..."
5454,0.589624,0.181142,0.246512,0.998435,"(0, 557)\t1.0\n (0, 1899)\t1.0\n (0, 2019)..."
5455,-0.551065,-1.186798,-0.536145,-1.352601,"(0, 1340)\t1.0\n (0, 1899)\t1.0\n (0, 4167..."

In [59]:
table = PrettyTable()
table.field_names = ["Model","Accuracy", "Mean Squared Error", "R² score","Mean Absolute Error"]
models = [
    LinearRegression(),
    LogisticRegression(),
    Ridge(),
    linear_model.Lasso()
]


for model in models:
    model.fit(X_train, y_train) 
    preds = model.predict(X_test)
    accuracy = accuracy_score(y_test, preds)
    mse = mean_squared_error(y_test, preds)
    r = r2_score(y_test, preds)
    mae = mean_absolute_error(y_test, preds)
    
    table.add_row([type(model).__name__, format(accuracy, '.3f'),format(mse, '.3f'),format(r, '.3f'),format(mae, '.3f')])
    
print(table)

ValueError: setting an array element with a sequence.